<div>
    <div class="background" style="text-align: center;">
        <h1>¡Bienvenido a tu tienda de confianza de venta de electrónica!</h1>
        <p>En nuestra tienda encontrarás los mejores productos de electrónica a los mejores precios.</p>

        <button class="btn btn-warning"><a href="/productos" class="text-primary">Ver Productos</a></button>
    
    </div>

    <div class="background" style="text-align: center;">
        <p class="registerbtn">Crea una cuenta para recibir las últimas notificaciones y descuentos disponibles</p>
        <button class="btn btn-warning"><a href="/register" class="text-primary">Registrarse</a></button>
        <br><br>
        <p class="registerbtn">Si ya posees una cuenta, inicie sesión</p>
        <button class="btn btn-warning"><a href="/login" class="text-primary">Iniciar Sesión</a></button>
    </div>
</div>

